.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(4, 9, 30, 0.3);
    border: 5px solid black;
    border-radius: 10px;
    border-style: double;
}